.notebook {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px;
}

.notebook-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.icon {
  line-height: 0;
  font-size: 48px;
  margin-right: 5px;
}
