.sign-up {
  display: flex;
  flex-direction: column;
}

.names-container {
  display: flex;
  justify-content: space-between;
}

.name {
  display: inline-block;
  width: calc(50% - 10px);
}

.input-row {
  margin-top: 10px;
}

.sign-up-button {
  display: flex;
  justify-content: space-between;
}

.left-margin-override {
  margin-left: -16px;
}
