.create-notebook {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.create-notebook-button {
  display: flex;
  justify-content: space-between;
}

.create-notebook-row {
  --verticalPadding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: var(--verticalPadding);
  padding-bottom: var(--verticalPadding);
}
